* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif,;

}

body {
    background-color: black;
    color: white;
}


.box {
    background-color: #122121;
    width: 409px;
    height: 110px;
    border-radius: 7px;
}
.boxx{
    background-color: #111;
    padding-top: 123;
    width: 409px;
    height: 110px;
    border-radius: 11px;
    padding-top: 12px;
}
.boxx:hover{
    background-color: white;
    color: #121212;
  
}

p {
    padding-top: 7px;
}

button{
    border-radius: 30px ;
    font-weight: 900;
    position: sticky;
    
}
button:hover{
    font-size: 1rem;
    background-color: #332133
    ;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.artist input{
    height: 31px;
    border-radius: 29px;
    background-color: #121212;
    color: white;
    padding-top: 7px;
    position: fixed;
}

.right {
    width: 75vw;
    max-height: 75vh;
    position: relative;

}



.home {
    padding: 10px;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 20px;
    list-style: none;

    padding-top: 14px;
    font-weight: bold;
    font-size: 13px;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;

}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    padding: 13px 0;
}

.footer a {
    color: grey;
    gap: 13px;
}

.header {
    display: flex;
    justify-content: space-between;


}

.header>* {
    padding: 20px;
}






.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.op {
    width: 28px;
    height: 32px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: absolute;
    top: 136px;
    right: 22px;
    opacity: 0;
    transition: all ease 1s;


}

.op:hover {
    opacity: 1;
    overflow: scroll;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: #122121;
    color: grey;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 1rem;
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 10rem;
    color: black;
    padding: 10px;
    cursor: pointer;
}

.loginbtn:hover {
    font-weight: bold;
    width: 78px;
    cursor: pointer;

}

.playbar {
    position: absolute;
    bottom: 0;
}
.sd{
    width: 210px;
    height: 200px;
    border-radius: 50%;
    
}
.di{
    justify-content: center;
    align-self: center;
    
}
#ff{
    height: 222px;
    width: 230px;
    border-radius: 50%; 
}
